body {
	background-color: beige;
}
header {
	background-color: green;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
	border: 5px solid black;
	padding: 2px;
}

nav {
	background-color: red;
	text-align: center;
	font-size: 13px;
	display: inline;
}

.box {
	width: 500px;
	height: 500px;
	background-color: grey;
	text-align: center;
	display:block;
}

.box1 {
	width: 200px;
	height: 200px;
	background-color: yellow;
	display: inline-block;
}

.box2 {
	width: 200px;
	height: 200px;
	background-color: brown;
	display: inline-block;
}
.box3 {
	width: 200px;
	height: 200px;
	background-color: purple;
	display: inline-block;
}
.box4 {
	width: 200px;
	height: 200px;
	background-color: orange;
	display: inline-block;
}